@charset "UTF-8";
@font-face {
  font-family: 'champagne__limousinesregular';
  src: url("../fonts/champagne__limousines-webfont.woff2") format("woff2"), url("../fonts/champagne__limousines-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  /* задаем фолбек на системный шрифт*/
  font-family: Arial, sans-serif; }

.fonts-loaded {
  /* добавляем кастомный шрифт по загрузке */
  font-family: Source Serif, Georgia, serif; }

body {
  width: 1000px;
  margin: auto;
  font-family: 'champagne__limousinesregular'; }
  body a {
    text-decoration: none; }

.popupForm {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }

.popupContent {
  background: white;
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  text-align: center; }
  .popupContent input {
    width: 50%;
    height: 10%;
    margin-top: 5%;
    border: 1px solid black; }

#emailf {
  display: block;
  color: red;
  text-align: center; }

#phonef {
  display: block;
  color: red;
  text-align: center; }

.close {
  width: 100%; }

.header {
  width: 100%;
  height: 77px;
  background-image: url("../img/header_bgn.png"); }

.logo {
  display: inline-block;
  padding-left: 53px;
  padding-top: 25px; }

#hamburger {
  display: none; }

#menu {
  padding-top: 37px;
  padding-right: 58px;
  float: right; }
  #menu a {
    margin: 15px;
    text-decoration: none;
    font-family: 'champagne__limousinesregular';
    font-size: 1.4em;
    color: #606060; }

.content1 {
  height: 438px;
  background-color: #f45050; }

.button_panel {
  display: inline-block;
  width: 50%; }

#iPad {
  float: left;
  margin: 0;
  padding-left: 22px;
  padding-top: 54px; }

#text1 {
  padding-top: 60px;
  padding-left: 107px; }
  #text1 p {
    margin: 0;
    font-family: 'champagne__limousinesregular';
    font-size: 1.7em;
    color: white; }

.device_buttons {
  text-align: center;
  padding-top: 50px; }
  .device_buttons a {
    margin: 1%;
    font-family: 'champagne__limousinesregular';
    font-size: 1.7em;
    color: white; }

.LearnJoin_buttons {
  text-align: center;
  margin-top: 120px; }
  .LearnJoin_buttons a {
    margin-left: 2%;
    margin-right: 2%; }

.Learn {
  display: inline-block;
  padding: 17px 34px;
  background: #f45050;
  color: #2d2d2d;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid;
  border-color: #f5cccc;
  font-family: 'champagne__limousinesregular';
  font-size: 1.4em;
  color: #2d2d2d; }

.Learn:hover {
  background: #f36161; }

.Learn:active {
  background: #f13e3e; }

.Join {
  display: inline-block;
  padding: 17px 46px;
  background: #242424;
  color: #f45050;
  border: 2px solid;
  border-color: #2d2d2d;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: 'champagne__limousinesregular';
  font-size: 1.4em; }

.Join:hover {
  background: #3b3b3b; }

.Join:active {
  background: #060606; }

#slides {
  margin: 0 auto;
  display: inline-block;
  width: 500px;
  height: 438px;
  position: absolute; }

#slides img {
  top: 15%;
  left: 50%;
  position: absolute;
  display: inline-block;
  opacity: 0;
  max-width: 100%;
  -webkit-transition: 1s;
  transition: 1s; }

#imgDesktop {
  margin-left: -216.5px; }

#imgTablet {
  margin-left: -194px; }

#imgMobile {
  margin-left: -86px; }

#slides img:first-child {
  opacity: 1; }

.navButtons input {
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #242424;
  color: #f45050;
  font-size: 1.2em;
  font-family: 'champagne__limousinesregular';
  -webkit-border-radius: 10%;
          border-radius: 10%;
  border: 0; }

.Prev {
  margin-left: 68%; }

.content2 {
  width: 100%;
  display: inline-block; }

.content2Video {
  width: 100%;
  display: inline-block; }

.form {
  width: 32%;
  display: inline-block; }

#formbgn {
  margin-top: 27px;
  margin-left: 30px;
  height: 522px;
  width: 266px;
  background-color: #252525;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-border-top-right-radius: 21px;
          border-top-right-radius: 21px;
  -webkit-border-top-left-radius: 21px;
          border-top-left-radius: 21px; }

#formtop {
  width: 100%;
  height: 52px;
  background-color: #48d2d4;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
  text-align: center; }
  #formtop p {
    padding-top: 10px;
    font-size: 1.8em;
    color: white; }

#formText {
  padding-top: 25px;
  color: white;
  text-align: center; }

#formInput {
  text-align: center; }

#formInput input {
  width: 224px;
  height: 35px;
  background: #4c4c4c;
  border: none;
  -webkit-border-radius: 13px;
          border-radius: 13px;
  color: #ececec;
  margin-top: 15px;
  outline: 0;
  text-align: center; }

#formButton {
  text-align: center;
  margin-top: 40px; }

#formButton a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background: #48d2d4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #252525;
  font-size: 1.5em; }

.youtube {
  width: 60%;
  margin-top: 27px;
  margin-right: 55px;
  display: inline-block;
  float: right; }

.youtube iframe {
  margin-left: 18px; }

#landingPage {
  margin-top: 30px;
  font-size: 1.8em;
  color: #009edb;
  display: inline-block; }

#landingText {
  display: inline-block;
  color: #242424; }

.dots {
  margin-top: 120px;
  text-align: center; }

.dots img {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px; }

.content3 {
  width: 100%;
  height: 420px;
  background: #5ed57a; }

#features {
  color: white;
  font-size: 1.8em;
  margin-left: 114px;
  padding-top: 24px; }

#featuresText {
  color: white;
  font-size: 1.3em;
  margin-left: 114px;
  margin-top: 16px; }

#featuresList li {
  font-size: 1.3em;
  color: white;
  padding-bottom: 20px; }

#featuresList ul {
  list-style-image: url("../img/location.png");
  list-style-position: inside;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 342px;
     -moz-column-width: 342px;
          column-width: 342px;
  padding-left: 113px;
  padding-top: 40px; }

.content4 {
  width: 100%;
  height: 520px;
  display: inline-block; }

#plans {
  color: #2d2d2d;
  font-size: 1.8em;
  margin-left: 50px;
  padding-top: 24px; }

#plansText {
  color: #2d2d2d;
  font-size: 1.3em;
  margin-left: 50px;
  margin-top: 16px; }

#plansPanels {
  margin-top: 28px;
  display: inline-block;
  width: 100%; }

#panel1 {
  display: inline-block;
  width: 441px;
  height: 308px;
  background-image: url("../img/panelbgn.png");
  background-repeat: no-repeat;
  margin-left: 3%; }

#panel2 {
  display: inline-block;
  width: 441px;
  height: 308px;
  background-image: url("../img/panelbgn.png");
  background-repeat: no-repeat;
  float: right;
  margin-right: 3%; }

#plan1 {
  display: inline-block;
  margin-top: 18px;
  margin-left: 28px;
  color: white;
  font-size: 1.9em; }

#plan2 {
  display: inline-block;
  margin-top: 18px;
  margin-left: 28px;
  color: white;
  font-size: 1.9em; }

#upload {
  float: right;
  margin-top: 15px;
  margin-right: 15px; }

#upload2 {
  float: right;
  margin-top: 15px;
  margin-right: 15px; }

#ok {
  list-style-image: url("../img/ok.png");
  margin-top: 42px;
  margin-left: 46px; }

#ok2 {
  list-style-image: url("../img/ok.png");
  margin-top: 42px;
  margin-left: 46px; }

#price {
  color: white;
  font-size: 2.5em;
  float: left;
  margin-top: 65px;
  margin-left: 63px; }

#price2 {
  color: white;
  font-size: 2.5em;
  float: left;
  margin-top: 65px;
  margin-left: 63px; }

#selectThis {
  float: right;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2d2d2d;
  background: #48d2d4;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  margin-right: 30px;
  margin-top: 65px; }

#selectThis2 {
  float: right;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2d2d2d;
  background: #48d2d4;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  margin-right: 30px;
  margin-top: 65px; }

.content5 {
  width: 100%;
  height: 384px;
  display: inline-block;
  background: #2e353f; }

.contact {
  width: 42%;
  border-right: 1px solid #515a66;
  display: inline-block; }

#contactInfo {
  color: white;
  font-size: 1.9em;
  margin-top: 40px;
  margin-left: 28px; }

#contactText {
  color: white;
  font-size: 1.2em;
  margin-top: 14px;
  margin-left: 28px; }

#mail {
  margin-top: 33px;
  width: 100%;
  display: inline-block;
  color: white; }
  #mail p {
    margin: 0;
    display: inline;
    float: right;
    margin-right: 214px; }

#imgMail {
  display: inline-block;
  float: left;
  margin-left: 28px; }

#adress {
  margin-top: 15px;
  width: 100%;
  display: inline-block;
  color: white; }
  #adress p {
    margin: 0;
    display: inline; }

#imgAdress {
  display: inline-block;
  float: left;
  margin-left: 28px; }

#textAdress {
  width: 100px;
  float: right;
  margin-right: 230px; }

#menu2 {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-left: 28px; }
  #menu2 a {
    color: white;
    margin-left: 1%;
    margin-right: 1%; }

.formGet {
  display: inline-block;
  float: right;
  width: 55%;
  color: white; }

#getInTouch {
  font-size: 1.9em;
  margin-top: 40px; }

#formGetText {
  font-size: 1.2em;
  margin-top: 14px; }

#formGetInput {
  text-align: left;
  width: 400px; }

#formGetInput input {
  width: 270px;
  height: 32px;
  background: #717a88;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #ececec;
  outline: 0;
  margin-top: 5px; }

#comment {
  height: 95px;
  width: 374px; }

#formGetButton {
  margin-top: 15px; }
  #formGetButton a {
    background: #d24e4c;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    color: white;
    font-size: 1.4em; }

.content6 {
  width: 100%;
  height: 263px; }
  .content6 #gmap iframe {
    height: 263px;
    width: 1000px; }

.footer {
  width: 100%;
  height: 66px;
  background-color: #292929;
  color: white;
  text-align: center; }
  .footer p {
    padding-top: 2%;
    margin: 0; }
