@charset "UTF-8";
@font-face {
  font-family: 'champagne__limousinesregular';
  src: url("../fonts/champagne__limousines-webfont.woff2") format("woff2"), url("../fonts/champagne__limousines-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  /* задаем фолбек на системный шрифт*/
  font-family: Arial, sans-serif; }

.fonts-loaded {
  /* добавляем кастомный шрифт по загрузке */
  font-family: Source Serif, Georgia, serif; }

body {
  width: 100%;
  margin: auto;
  font-family: 'champagne__limousinesregular'; }
  body a {
    text-decoration: none; }

.popupForm {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }

.popupContent {
  background: white;
  margin-top: 10%;
  width: 100%;
  height: 50%;
  text-align: center; }
  .popupContent input {
    width: 50%;
    height: 10%;
    margin-top: 5%;
    border: 1px solid black; }

#emailf {
  display: block;
  color: red;
  text-align: center; }

#phonef {
  display: block;
  color: red;
  text-align: center; }

.close {
  width: 100%; }

.header {
  padding: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/header_bgn.png"); }

#hamburger {
  z-index: 1; }

.notactive {
  position: absolute;
  left: 0px;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.active {
  position: absolute;
  left: 74px;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.menuactive {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: white;
  height: 100%;
  top: 0px;
  left: -90px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .menuactive a {
    padding: 2%;
    text-decoration: none;
    font-family: 'champagne__limousinesregular';
    font-size: 1.4em;
    color: #606060; }

.menunotactive {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 5%;
  background: white;
  height: 100%;
  top: 0px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .menunotactive a {
    padding: 2%;
    text-decoration: none;
    font-family: 'champagne__limousinesregular';
    font-size: 1.4em;
    color: #606060; }

.content1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f45050; }
  .content1 .iPad_text #iPad {
    display: none; }

#text1 {
  font-family: 'champagne__limousinesregular';
  font-size: 1.4em;
  color: white;
  text-align: center; }

.device_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .device_buttons a {
    font-family: 'champagne__limousinesregular';
    font-size: 1.4em;
    color: white;
    padding: 2%; }

.LearnJoin_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .LearnJoin_buttons .Learn {
    margin: 2%;
    height: 5%;
    width: 20%;
    padding: 2% 3%;
    background: #f45050;
    color: #2d2d2d;
    -webkit-border-radius: 10%;
            border-radius: 10%;
    border: 2px solid;
    border-color: #f5cccc;
    text-align: center; }
  .LearnJoin_buttons .Join {
    margin: 2%;
    height: 5%;
    width: 20%;
    padding: 2% 3%;
    background: #242424;
    color: #f45050;
    -webkit-border-radius: 10%;
            border-radius: 10%;
    border: 2px solid;
    border-color: #2d2d2d;
    text-align: center; }

.Learn:active {
  background: #f13e3e; }

.Join:active {
  background: #060606; }

#slides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 350px; }

#slides img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  max-width: 100%;
  -webkit-transition: 1s;
  transition: 1s; }

#slides img:first-child {
  opacity: 1; }

.navButtons {
  text-align: center;
  margin-bottom: 10%; }
  .navButtons input {
    padding: 5%;
    background: #242424;
    color: #f45050;
    font-size: 1.2em;
    font-family: 'champagne__limousinesregular';
    -webkit-border-radius: 5%;
            border-radius: 5%;
    border: 0; }

.content2 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content2Video {
  width: 100%; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

#formbgn {
  background-color: #252525;
  width: 100%; }

#formtop {
  background-color: #48d2d4;
  text-align: center; }
  #formtop p {
    font-size: 1.8em;
    color: white; }

#formText {
  margin: 3%;
  color: white;
  text-align: center; }

#formInput {
  text-align: center; }

#formInput input {
  margin: 2%;
  padding: 4%;
  background: #4c4c4c;
  border: none;
  -webkit-border-radius: 13px;
          border-radius: 13px;
  color: #ececec;
  outline: 0;
  text-align: center; }

#formButton {
  margin: 10%;
  text-align: center; }

#formButton a {
  padding: 2%;
  background: #48d2d4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #252525;
  font-size: 1.5em; }

#yotubeVideo {
  margin-top: 5%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

#yotubeVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#landingPage {
  margin-top: 2%;
  font-size: 1.8em;
  color: #009edb;
  display: inline-block; }

#landingText {
  color: #242424; }

.dots {
  text-align: center;
  margin-bottom: 10%; }
  .dots img {
    margin: 2%; }

.content3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #5ed57a;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#features {
  padding-top: 5%;
  text-align: center;
  color: white;
  font-size: 1.8em; }

#featuresText {
  padding-top: 2%;
  text-align: center;
  color: white;
  font-size: 1.8em; }

#featuresList li {
  font-size: 1.3em;
  color: white;
  padding-bottom: 5%; }

#featuresList {
  list-style-image: url("../img/location.png");
  list-style-position: inside;
  padding-top: 5%;
  margin-left: 2%;
  margin-right: 2%; }

.content4 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

#plans {
  padding-top: 5%;
  color: #2d2d2d;
  font-size: 1.8em;
  text-align: center; }

#plansText {
  padding-top: 2%;
  color: #2d2d2d;
  font-size: 1.3em;
  text-align: center; }

#plansPanels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin-top: 2%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-bottom: 5%; }

#panel1 {
  margin: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 100%;
  background: #2d2d2d;
  -webkit-border-radius: 10%;
          border-radius: 10%; }

#panel2 {
  margin: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 100%;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  background: #2d2d2d; }

#plan1 {
  color: white;
  font-size: 1.9em;
  margin-left: 2%;
  margin-top: 2%; }

#plan2 {
  color: white;
  font-size: 1.9em;
  margin-left: 2%;
  margin-top: 2%; }

#upload {
  margin-left: 60%;
  margin-top: 2%; }

#upload2 {
  margin-left: 60%;
  margin-top: 2%; }

#ok {
  list-style-image: url("../img/ok.png");
  margin-left: 10%; }

#ok2 {
  list-style-image: url("../img/ok.png");
  margin-left: 10%; }

#price {
  color: white;
  font-size: 2.5em;
  margin-top: 30%; }

#price2 {
  color: white;
  font-size: 2.5em;
  margin-top: 30%; }

#selectThis {
  padding: 2%;
  color: #2d2d2d;
  background: #48d2d4;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  margin-left: 70%;
  margin-top: 2%;
  margin-bottom: 2%; }

#selectThis2 {
  padding: 2%;
  color: #2d2d2d;
  background: #48d2d4;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  margin-left: 70%;
  margin-top: 2%;
  margin-bottom: 2%; }

.content5 {
  margin-top: 2%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2e353f;
  color: white;
  padding-bottom: 5%; }

#topLine img {
  max-width: 100%; }

.contact {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 3%; }

#contactInfo {
  font-size: 1.9em; }

#contactText {
  margin-top: 2%;
  font-size: 1.4em; }

#mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%; }
  #mail p {
    margin: 0;
    margin-left: 5%;
    font-size: 1.2em; }

#adress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%; }
  #adress p {
    margin: 0;
    margin-left: 2%;
    font-size: 1.2em; }

#menu2 {
  margin-top: 5%; }
  #menu2 a {
    margin-right: 1%;
    margin-left: 1%;
    color: white;
    font-size: 1.2em; }

.formGet {
  width: 100%;
  margin-top: 5%;
  text-align: center; }

#formGetText {
  margin-top: 3%; }

#getInTouch {
  font-size: 1.9em; }

#formGetText {
  font-size: 1.4em;
  margin-top: 2%; }

#formGetInput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

#formGetInput input {
  width: 90%;
  height: 30%;
  padding-top: 4%;
  background: #717a88;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #ececec;
  outline: 0;
  margin-top: 2%; }

#formGetButton {
  text-align: left;
  margin-top: 5%;
  text-align: center; }
  #formGetButton a {
    background: #d24e4c;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    color: white;
    font-size: 1.4em; }

.content6 {
  width: 100%; }
  .content6 #gmap iframe {
    width: 100%; }

.footer {
  width: 100%;
  background-color: #292929;
  color: white;
  text-align: center; }
  .footer p {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0; }
