body {
  width: 1000px;
  margin: auto; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: url("img/header_bgn.png"); }
